[Trigger]
Type = Package
Operation = Install
Target = *

[Action]
Description = Append newly installed packages to user snapshot
When = PostTransaction
NeedsTargets
Exec = {{ .chezmoi.homeDir }}/.config/scripts/pkg-snapshot-update.sh
