{{ if .has_omarchy -}}
# Dynamic theme colors (Omarchy)
config-file = ?"~/.config/omarchy/current/theme/ghostty.conf"
{{ else -}}
# Catppuccin Mocha (standalone — no Omarchy)
theme = "Catppuccin Mocha"
background = #0f0f0f
{{ end -}}

# Font
font-family = "Adwaita Mono"
font-style = Regular
font-size = 14

# Window
window-theme = ghostty
window-padding-x = 14
window-padding-y = 4
confirm-close-surface=false
resize-overlay = never
{{ if eq .chezmoi.os "linux" -}}
gtk-titlebar = false
gtk-toolbar-style = flat
{{ end -}}

# Cursor styling
cursor-style = "block"
cursor-style-blink = false
shell-integration-features = no-cursor,ssh-env

# Keyboard bindings
keybind = shift+insert=paste_from_clipboard
keybind = control+insert=copy_to_clipboard
keybind = super+control+shift+alt+arrow_down=resize_split:down,100
keybind = super+control+shift+alt+arrow_up=resize_split:up,100
keybind = super+control+shift+alt+arrow_left=resize_split:left,100
keybind = super+control+shift+alt+arrow_right=resize_split:right,100

# General styling
background-opacity = 1

{{ if ne (lookPath "sesh") "" -}}
command = {{ lookPath "sesh" }} connect home
{{ end -}}

# Slowdown mouse scrolling
mouse-scroll-multiplier = 0.95

{{ if .has_hyprland -}}
# Fix general slowness on hyprland (https://github.com/ghostty-org/ghostty/discussions/3224)
async-backend = epoll
{{ end -}}
