[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
[pull]
	rebase = true
[init]
	defaultBranch = master
[user]
	name = Highlander Paiva
	email = {{ .git_email }}
{{- if .has_1password }}
	signingKey = ~/.ssh/id_ed25519_signing.pub
[commit]
	gpgsign = true
[gpg]
	format = ssh
[gpg "ssh"]
	program = {{ if eq .chezmoi.os "darwin" }}/Applications/1Password.app/Contents/MacOS/op-ssh-sign{{ else }}/opt/1Password/op-ssh-sign{{ end }}
	allowedSignersFile = ~/.config/git/allowed_signers
{{- end }}
