{{- $uwsm := ne (lookPath "uwsm-app") "" -}}
# App launcher
bindd = SUPER, SPACE, Launch apps, exec, walker
bindd = SUPER CTRL, E, Emoji picker, exec, walker -m symbols
bindd = SUPER ALT, SPACE, System menu, exec, ~/.config/scripts/hypr/system-menu
bindd = , XF86Calculator, Calculator, exec, gnome-calculator

# Waybar toggle
bindd = SUPER SHIFT, SPACE, Toggle top bar, exec, pkill -SIGUSR1 waybar
bindd = SUPER, BACKSPACE, Toggle transparency, exec, hyprctl dispatch setprop "address:$(hyprctl activewindow -j | jq -r '.address')" opaque toggle

# Notifications
bindd = SUPER, COMMA, Dismiss notification, exec, makoctl dismiss
bindd = SUPER SHIFT, COMMA, Dismiss all, exec, makoctl dismiss --all
bindd = SUPER CTRL, COMMA, Toggle DND, exec, makoctl mode -t do-not-disturb
bindd = SUPER ALT, COMMA, Invoke notification, exec, makoctl invoke
bindd = SUPER SHIFT ALT, COMMA, Restore notification, exec, makoctl restore

# Screenshots
bindd = , PRINT, Screenshot, exec, grim -g "$(slurp)" - | wl-copy
bindd = SUPER, PRINT, Color picker, exec, pkill hyprpicker || hyprpicker -a

# System menu (wlogout)
bindd = SUPER, ESCAPE, System menu, exec, wlogout
bindld = , XF86PowerOff, Power menu, exec, wlogout

# Control panels
bindd = SUPER CTRL, A, Audio, exec, {{ if $uwsm }}uwsm-app -- {{ end }}xdg-terminal-exec -e pulsemixer
bindd = SUPER CTRL, B, Bluetooth, exec, {{ if $uwsm }}uwsm-app -- {{ end }}xdg-terminal-exec -e bluetuith
bindd = SUPER CTRL, W, Wifi, exec, {{ if $uwsm }}uwsm-app -- {{ end }}xdg-terminal-exec -e nmtui
bindd = SUPER CTRL, T, Activity, exec, {{ if $uwsm }}uwsm-app -- {{ end }}xdg-terminal-exec -e btop

# Keybindings viewer
bindd = SUPER, K, Show keybindings, exec, ~/.config/scripts/hypr/show-keybindings

# Lock
bindd = SUPER CTRL, L, Lock, exec, pidof hyprlock || hyprlock

# Zoom
bindd = SUPER CTRL, Z, Zoom in, exec, hyprctl keyword cursor:zoom_factor $(hyprctl getoption cursor:zoom_factor -j | jq '.float + 1')
bindd = SUPER CTRL ALT, Z, Reset zoom, exec, hyprctl keyword cursor:zoom_factor 1

# Info
bindd = SUPER CTRL ALT, T, Show time, exec, notify-send "    $(date +"%A %H:%M  —  %d %B W%V %Y")"
