if command -v mise &> /dev/null; then
  eval "$(mise activate bash)"
fi

# if command -v starship &> /dev/null; then
#   eval "$(starship init bash)"
# fi

if command -v zoxide &> /dev/null; then
  eval "$(zoxide init bash)"
fi

if command -v fzf &> /dev/null; then
{{- if eq .chezmoi.os "darwin" }}
  if [[ -f /opt/homebrew/share/fzf/completion.bash ]]; then
    source /opt/homebrew/share/fzf/completion.bash
  fi
  if [[ -f /opt/homebrew/share/fzf/key-bindings.bash ]]; then
    source /opt/homebrew/share/fzf/key-bindings.bash
  fi
{{- else }}
  if [[ -f /usr/share/fzf/completion.bash ]]; then
    source /usr/share/fzf/completion.bash
  fi
  if [[ -f /usr/share/fzf/key-bindings.bash ]]; then
    source /usr/share/fzf/key-bindings.bash
  fi
{{- end }}
fi
