# ~/.config/starship.toml
command_timeout = 200
add_newline = true
palette = "catppuccin_mocha"

format = '''
$directory
$status$character'''

[directory]
style  = "fg:blue"
format = "[$path]($style)"
truncation_length = 0

[character]
success_symbol = "[❯](fg:teal)"
error_symbol   = "[❯](fg:teal)"
vimcmd_symbol  = "[❮](fg:peach)"
vimcmd_visual_symbol = "[❮](fg:mauve)"
vimcmd_replace_one_symbol = "[❮](fg:red)"
vimcmd_replace_symbol = "[❮](fg:red)"


[status]
disabled = false
style   = "bold fg:red"
format  = '[\[$status\]]($style)'
pipestatus = true
pipestatus_separator = "|"
pipestatus_format = '[\[$pipestatus\]]($style)'

[palettes.catppuccin_mocha]
rosewater = "#f5e0dc"
flamingo = "#f2cdcd"
pink = "#f5c2e7"
mauve = "#cba6f7"
red = "#f38ba8"
maroon = "#eba0ac"
peach = "#fab387"
yellow = "#f9e2af"
green = "#a6e3a1"
teal = "#94e2d5"
sky = "#89dceb"
sapphire = "#74c7ec"
blue = "#89b4fa"
lavender = "#b4befe"
text = "#cdd6f4"
subtext1 = "#bac2de"
subtext0 = "#a6adc8"
overlay2 = "#9399b2"
overlay1 = "#7f849c"
overlay0 = "#6c7086"
surface2 = "#585b70"
surface1 = "#45475a"
surface0 = "#313244"
base = "#1e1e2e"
mantle = "#181825"
crust = "#11111b"
